table, caption{
  background-color:grey;
  color:black;
  font-size:18px;
  border: 1px black;
  text-align: center;
  }

th, td {
    border: 1px dashed black;
  }

  td:nth-of-type(odd) {
    background-color: rgb(159, 237, 185);
  }
  
  td:nth-of-type(even) {
    background-color: rgb(182, 237, 159);
  }
  
  
  
  
  